.item {
  padding: var(--space-4) var(--space-5);
  cursor: pointer;
  border-radius: var(--radius-2);
  transition:
    background-color 0.2s var(--ease),
    border-color 0.2s var(--ease);
  border: 2px solid transparent;
  background-color: transparent;
  margin-bottom: var(--space-2);
}

.item:hover {
  background-color: var(--color-neutral-3);
}

.item.selected {
  background-color: var(--color-accent-3);
  border-color: var(--color-accent-9);
}

.title {
  font: var(--font-subheading);
  color: var(--color-neutral-12);
  margin: 0;
  line-height: var(--font-lineheight-2);
}

.item.selected .title {
  color: var(--color-accent-11);
  font-weight: 600;
}
